body.menu-open {
  overflow: hidden;
}

.navigation .logo {
  position: absolute;
  left: 50%;
  top: 40px;
  z-index: 10;
  opacity: 1;
  transition: opacity .3s;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.navigation .logo img {
  width: 150px;
  height: auto;
}

/*hamburger menu*/

.navigation .hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  padding: 15px 9.5px;
  top: 32px;
  right: 32px;
  cursor: pointer;
  z-index: 999;
  opacity: 1;

  transition: .5s ease;
  border-radius: 100%;
}

.navigation .hamburger-menu:hover,
.menu-open .navigation .hamburger-menu,
.menu-bg{
  background: #2E2E2E;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.navigation .hamburger-menu:hover .hamburger::before {
  -webkit-transform: translate(0, -1px);
          transform: translate(0, -1px);
}

.navigation .hamburger-menu:hover .hamburger::after {
  -webkit-transform: translate(0, 1px);
          transform: translate(0, 1px);
}

.navigation .hamburger-menu .hamburger {
  width: 20px;
  height: 10px;
  position: relative;
}

.navigation .hamburger-menu .hamburger::before,
.navigation .hamburger-menu .hamburger::after {
  content: '';
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  transition: all .3s;
}

.navigation .hamburger-menu .hamburger::before {
  top: 0;
  width: 20px;
}

.navigation .hamburger-menu .hamburger::after {
  top: 8px;
  width: 12px;
}

.menu-open .navigation .hamburger-menu .hamburger::before,
.menu-open .navigation .hamburger-menu .hamburger::after {
  background: #fff;
}

.menu-open .navigation .hamburger-menu .hamburger::before {
  top: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .navigation .hamburger-menu .hamburger::after {
  top: 5px;
  width: 20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media only screen and (max-width: 767px){
  .navigation .logo {top: 25px;}
  .navigation .hamburger-menu {
    right: 15px;
    top: 28px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px){
  .navigation .logo {top: 30px;}
  .navigation .hamburger-menu {
    right: 24px;
    top: 28px;
  }
}

/*overlay*/

.navigation .menu-container {
  width: 100%;
  height: 0%;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  z-index: 800;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.99, 0.04, 0.87, 1) 0.3s;
  background: #000;
  opacity: 0;
}

.menu-open .navigation .menu-container {
  height: 100%;
  opacity: 1;
}

.navigation .menu-container .menu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  list-style: none;
  margin: 0;
}

/*list*/

@media (max-width: 667px) and (min-width: 320px) and (orientation: landscape) {
  .navigation .menu-container .menu {
    display: initial;
  }
  .navigation .menu-container .menu li {
    display: inline-block;
    margin: 0 16px;
  }
}

.navigation .menu-container .menu li {
  padding: 0;
  flex: 1;
}

.menu-open .navigation .menu-container .menu li:nth-child(1) {
  opacity: 1;
  transition: 0.2s opacity 0.95s;
}

.menu-open .navigation .menu-container .menu li:nth-child(2) {
  opacity: 1;
  transition: 0.2s opacity 1.05s;
}

.menu-open .navigation .menu-container .menu li:nth-child(3) {
  opacity: 1;
  transition: 0.2s opacity 1.15s;
}

.menu-open .navigation .menu-container .menu li:nth-child(4) {
  opacity: 1;
  transition: 0.2s opacity 1.25s;
}

.menu-open .navigation .menu-container .menu li:nth-child(5) {
  opacity: 1;
  transition: 0.2s opacity 1.35s;
}

.menu-open .navigation .menu-container .menu li:nth-child(6) {
  opacity: 1;
  transition: 0.2s opacity 1.45s;
}

.navigation .menu-container .menu li:nth-child(1) {
  opacity: 0;
  transition: 0.2s opacity 0.05s;
}

.navigation .menu-container .menu li:nth-child(2) {
  opacity: 0;
  transition: 0.2s opacity 0.1s;
}

.navigation .menu-container .menu li:nth-child(3) {
  opacity: 0;
  transition: 0.2s opacity 0.15s;
}

.navigation .menu-container .menu li:nth-child(4) {
  opacity: 0;
  transition: 0.2s opacity 0.2s;
}

.navigation .menu-container .menu li:nth-child(5) {
  opacity: 0;
  transition: 0.2s opacity 0.25s;
}

.navigation .menu-container .menu li:nth-child(6) {
  opacity: 0;
  transition: 0.2s opacity 0.3s;
}

.navigation .menu-container .menu li.menu-line {
  width: 30px;
  height: 1px;
  background: #fff;
  margin: 32px auto 16px;
  padding: 0;
  flex: initial;
}

@media (max-width: 667px) and (min-width: 320px) and (orientation: landscape) {
  .navigation .menu-container .menu li.menu-line {
    display: none;
  }
}

@media (min-width: 667px) {
  .navigation .menu-container .menu li.menu-line {
    width: 1px;
    height: 87px;
  }
}

.navigation .menu-container .menu li a {
  color: #fff;
  font-size: 1.5rem;
  transition: color .3s;
  outline: 0;
}

@media (min-width: 1190px) {
  .navigation .menu-container .menu li a {
    font-size: 1.5rem;
  }
}

/*animate*/

nav li{
  display: block;
  margin: 30px 0;
}

nav li a{
  position: relative;
}

.navigation .menu-container .menu li a.active{
  color: #666;
}

.navigation .menu-container .menu li a.active::before{
  width: 0%;
  color: #666;
}

nav li a::before{
  content: "";
  position: absolute;
  background-color: rgba(97, 169, 223, .8);
  height: 40%;
  z-index: -1;
  bottom: 10px;
  left: -12px;
  transform: rotate(-2deg);
  width: 0%;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav li a:hover::before{
  width: calc(100% + 20px);
}